/*** WRAPPER OVERRIDE ***/
#wrapper {
  background: none !important;
}

/*** Fix duplicate product cover & thumbnail ***/
.product-cover-only {
  .thumb-container {
    display: none !important;
  }
}

.product-thumbnails-only {
  .product-cover {
    display: none !important;
  }
}